.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: #163A24;
}

.navv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-div {
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav-div ul {
    display: flex;
    gap: 25px;
    list-style: none;
    color: white;
}

.nav-div a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #198C36;
    border: none;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 25px;
}

.hero {
    background-color: #163A24;
    color: white;
    padding-top: 50px;
}

.asosiy {
    display: flex;
    justify-content: space-between;
}

.hero-div {
    width: 491px;
    padding-right: 50px;
    padding-top: 100px;
}

.hero-div h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.hero-div p {
    font-size: 18px;
    margin-right: 50px;
}

.put {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.put-text {
    width: 393px;
}

.put-text h2 {
    font-size: 48px;
    padding-bottom: 25px;
}

.put-text p {
    font-size: 18px;
    margin-right: 50px;
}

.put1 {
    margin-top: 50px;
}

.rec-img {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.rec-txt {
    font-size: 32px;
}
.rec-txt{
    text-align: center;
}
.product{
    background-color: #163A24;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
}
.product-img{
    text-align: center;

}
.product-img img{
    margin-bottom: 20px;
}
.product-img p{
    margin-bottom: 10px;
}
.size{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F2EFE6;
}
.size-txt {
    font-size: 32px;
    width: 730px;
    text-align: center;
}
.size-txt p{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.size-asosiy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.howw{
    margin-top: 100px;
    margin-bottom: 100px;
}
.how{
    display: flex;
    gap: 370px;
    justify-content: space-between;
    align-items: center;
}
.how-txt {
    font-size: 32px;
}
.how-txt p{
    font-size: 18px;
    margin-top: 20px;
}
.c-txt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.consider-txt{
    width: 350px;
    padding: 30px;
    padding-bottom: 50px;
    font-size: 20px;
    background-color: #f6f4ee;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 20px #E9E4D5;
    transition: all .5s;
    cursor: pointer;
    border-radius: 10px;
}
.consider-txt:hover{
    transform: scale(1.1);
}
.consider-txt h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.consider-txt ul li a{
    text-decoration: none;
    color: black;
}
.consider-txt ul{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.c-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 32px;
}
.c-div p{
    font-size: 18px;
    margin-top: 20px;
}
.its{
    background-color: #F2EFE6;
    padding-top: 100px;
    padding-bottom: 100px;
}
.itss-div{
    display: flex;
    justify-content: space-between;
    gap: 230px;
    text-align: center;
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 50px;
}
.itss-div h2{
    font-size: 32px;
    margin-top: 15px;
}
.its-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.not{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 300px;
}
.not-txt{
    font-size: 32px;
}
.not-txt p{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gett{
    background-color: #163A24;
}
.get{
    display: flex;
    gap: 35px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 32px;
}
.get p{
    font-size: 18px; 
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn{
    background-color: #FAB5A0;
    color: #163A24;
}








.submit-content {
    background: #F2EFE6;
  }
  
  .submit-content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 60px 0px;
  }
  
  .submit-content .container .submit-textContent h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 26px;
  }
  
  .submit-content .container .submit-textContent p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 18px;
  }
  
  .submit-content .container .submit-inputContent p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 545px;
    margin-top: 20px;
  }
  
  .submit-content .container .submit-inputContent p span {
    color: #198C36;
    margin-left: 5px;
  }
  
  .submit-content .container .submit-inputContent form input {
    border: 1px solid transparent;
    background: transparent;
    outline: none;
    position: relative;
    z-index: 10;
    left: 30px;
    width: 345px;
    height: 30px;
    font-size: 24px;
    top: 3px;
  }
  
  .submit-content .container .submit-inputContent form input:focus{
    border: 1px solid #15762E;
  }
  
  .submit-content .container .submit-inputContent form {
    background: #FFFFFF;
    border-radius: 100px;
  }
  
  .submit-content .container .submit-inputContent form button {
    margin-left: 105px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    background: #15762E;
  }
  




  .footer-content .container {
    flex-direction: column;
  }
  
  .footer-card {
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap: 240px;
  }
  
  .footer-card:nth-child(1) {
    gap: 377px;
  }
  
  .footer-card .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
  }
  
  .footer-card *{
    color: #163A24;
  }
  
  .icons-card {
    display: flex;
    gap: 10px;
  }
  
  .icons-card img{
    cursor: pointer;
  }
  
  .hr {
    background: #F2EFE6;
    width: 100%;
    height: 1px;
  }
  
  .footer-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  
  .footer-card ul li a{
    color: #198C36;
    text-decoration: none;

  }
  .footer-card ul{
    display: flex;
    gap: 25px;
    list-style: none;
  }

